.header,
.accessibility,
.logo_container,
.logo_name {
	display: flex;
}

.header {
	flex-direction: row;
	justify-content: space-between;
	padding-top: var(--shape-md);
}

.accessibility {
	flex-direction: inherit;
	gap: var(--shape-sm);
}

.logo_container {
	align-items: center;
	gap: var(--shape-xs)
}

.logo_name {
	flex-direction: column;
	font-weight: var(--type-bold);
	line-height: var(--shape-sm);
}

/* responsive */
@media screen and (max-width: 1440px) {}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 425px) {
	.header {
		padding-top: var(--shape-sm);
	}
}