.footer_contact {
	display: flex;
	flex-direction: column;
	gap: var(--shape-xxxl)
}

.footer_email {
	display: flex;
	flex-direction: column;
	gap: var(--shape-md);
}

.footer_p {
	font-style: italic;
	font-weight: var(--type-medium);
	font-size: var(--shape-md);
}

.footer_social {
	display: flex;
	justify-content: space-between;
	margin: var(--shape-sm) 0;
	font-size: var(--shape-sm);

	& a:hover {
		text-decoration: underline;
	}

}

.footer_copyright,
.social,
.footer_copyright>div {
	display: flex;
	gap: var(--shape-sm);
}

/* responsive */
@media screen and (max-width: 1024px) {}

@media screen and (max-width: 768px) {
	.footer_social {
		display: flex;
		flex-direction: column;
		gap: var(--shape-sm);
		align-items: center;
	}
}

@media screen and (max-width: 425px) {
	.footer_copyright {
		width: 100%;
		flex-direction: column;

		& div~span {
			display: none;
		}
	}
}