.hero {
	position: relative;
	display: grid;
	grid-template-columns: 2fr 1fr;
}

.hero_content {
	display: flex;
	flex-direction: column;
	gap: var(--shape-lg);
}

.hero_content_titles {
	display: flex;
	flex-direction: inherit;
	gap: var(--shape-sm);
}

.hero_content_h1 {
	text-wrap: balance;
	font-size: var(--shape-md);
	font-weight: var(--type-medium);
}

.hero_content_p {
	text-wrap: balance;
}

.hero_content_3d {
	position: absolute;
	left: 50%;
	top: 0;
	bottom: 0;
	right: 0;
	z-index: -1;
}

/* responsive */
@media screen and (max-width: 1024px) {}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 425px) {
	.hero {
		grid-template-columns: 1fr;
	}
	
	.hero_content_3d {
		display: none;
		visibility: hidden;
	}

	/* .hero {
		grid-template-rows: 1fr 1fr;
	}

	.hero_content_h1 {
		font-size: 32px;
	}

	.hero_content_3d {
		left: 0;
		top: 50%;
		bottom: 0;
		right: 0;
	} */
}