.hero {
	display: grid;
	grid-template-columns: 2fr 1fr;
	margin: 192px 0;
}

.hero_content {
	display: flex;
	flex-direction: column;
	gap: var(--shape-48);
}

.hero_content_titles {
	display: flex;
	flex-direction: column;
	gap: var(--shape-16);
}

.hero_content_h1 {
	text-wrap: balance;
	font-size: 64px;
	font-weight: var(--type-medium);
}

.hero_content_p {
	text-wrap: balance;
}

.hero_content_3d {
	position: absolute;
	left: 50%;
	top: 0;
	bottom: 0;
	right: 0;
	z-index: -1;
}