.main {
	width: 100%;
	max-width: 1504px;
	margin: auto;
	
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

/* responsive */
@media screen and (max-width: 768px) {}

@media screen and (max-width: 425px) {}