@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 400;
	src: url('assets/fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
	font-family: "Montserrat";
	font-style: medium;
	font-weight: 500;
	src: url('assets/fonts/Montserrat-Medium.ttf') format('truetype');
}

@font-face {
	font-family: "Montserrat";
	font-style: bold;
	font-weight: 700;
	src: url('assets/fonts/Montserrat-Bold.ttf') format('truetype');
}

:root {
	/* Color */
	--color-foreground: #212121;
	--color-background: #FFFFFF;

	--color-background-tint: #EEEEEE;

	/* Typography */
	--type-font: Montserrat;
	--type-bold: 700;
	--type-medium: 500;
	--type-regular: 400;

	/*  */
	--margin-padding: 3em;
	--grid-gap: 3em;
	--grid-gap-list: 1em;

	/* Shape */
	--shape-8: .5em;
	--shape-16: 1em;
	--shape-32: 2em;
	--shape-48: 3em;
	--shape-64: 4em;
	--shape-80: 5em;
	--shape-96: 6em;

}

/* Mode dark */
@media (prefers-color-scheme: dark) {
	:root {
		--color-foreground: #FFFFFF;
		--color-background: #212121;

		--color-background-tint: #2b2b2b;
	}
}

/* text selected */
::selection {
	background-color: var(--color-foreground);
	color: var(--color-background);
}

/* margin, padding, etc */
* {
	margin: 0;
	padding: 0;
	border: none;
	box-sizing: border-box;
	vertical-align: baseline;
}

/* global  */
body {
	font-size: 20px;
	font-family: var(--type-font);
	color: var(--color-foreground);
	background-color: var(--color-background);

	/* line-height: 1.4em; */
	/* optional */

	-webkit-hyphens: auto;
	hyphens: auto;
	/* optional */
}

/* Disable default styles of main tags */
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
button {
	font-size: 1em;
	font-weight: inherit;
	font-style: inherit;
	text-decoration: none;
	color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: var(--type-bold);
}

/* list */
li {
	list-style-type: none;
}

/* a */
a {
	display: inline-block;
}

/* SVG */
svg {
	display: block;
}

svg path {
	fill: currentColor;
}

/* button */
button,
a.button {
	cursor: pointer;
	width: fit-content;
	font-size: 16px;
	font-family: var(--type-font);
	font-weight: var(--type-medium);
	border: 1px solid var(--color-foreground);
	background: var(--color-foreground);
	color: var(--color-background);
	padding: var(--shape-16) var(--shape-32);
	border-radius: 50px;
	transition: background 200ms ease-out, color 200ms ease-out;

	&:hover {
		background: var(--color-background);
		color: var(--color-foreground);
	}
}

button.outline,
a.outline {
	border: 1px solid var(--color-foreground);
	background: transparent;
	color: var(--color-foreground);
}

button.small,
a.small {
	padding: var(--shape-8) var(--shape-16);
}

button.icon,
a.icon {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: var(--shape-8);
}

/* ul */
ul {
	display: flex;
	flex-direction: column;
	gap: var(--grid-gap-list)
}

/* divider */
.divider {
	width: 100%;
	height: 1px;
	background: var(--color-foreground);
}


/* responsive */
@media screen and (max-width: 425px) {
	
}

@media screen and (max-width: 768px) {
	.btn-outline {
		width: -moz-fit-content;
		width: fit-content;
	}
}